.v-datatable.v-table .legacy-column {
	display: table-cell;
}

.stepper-page {
	.v-stepper__content {
		height: 100%;
		padding-right: 0px;
		padding-left: 0px;
		.v-stepper__wrapper {
				height: 100%;
		}
	}

	.step-title {
		font-size: 24px;
		font-weight: bold;
		text-align: center;
		padding-bottom: 16px;
	}
}

.dashboard-page {
	.v-tabs {
    height: 100%;
  }
  .v-window {
		height: 100%;
	}
	.v-window__container {
		height: 100%;
	}
  .v-window-item {
    height: 100%;
	}
	.v-tabs__item {
		text-transform: capitalize;
		color: black;
	}
	.v-tabs__bar {
		padding-top: 20px;
		padding-left: 5%;
    padding-right: 5%;
	}
}

.currency-picker {
	width: 100%;

	.v-input__control {
		width: 100%;
	}

	.v-label {
		width: 100%;
	}

	.currency-item {
		width: 100%;
		border: 1px solid #e5e5e5;
	}

	.currency-item:not(:last-of-type) {
    border-bottom:none;
	}
}

.feed-filter {

	.feed-disciplines-filter, .feed-trl-filter {
		.filter-btn {
			.v-btn__content {
				justify-content: flex-start;
			}
			&.selected {
				background: var(--v-primary-lighten5);
			}
		}
	}

	.discipline-criteria {

	}

	.feed-organizations-filter {

	}

	.organization-criteria {
		.v-chip .v-avatar img {
			height: 85%;
			width: 85%;
		}
	}

}

.group-activity-log {
	.log-label-chip {
		width: 100%;
		.v-chip__content {
			width: 100%;
		}
	}

	.log-label-chip-text {
  	width: 100%;
  	text-align: center;
	}
}
